#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

* {
  font-family: "Kia Signature Fix", Arial, sans-serif;
}

@font-face {
  font-family: "Kia Signature Fix";
  font-weight: 600;
  src: url("./assets/fonts/KiaSignatureFixBold.ttf");
}
